* {
    font-size: 18px;
    font-family: monospace;
    color: black;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

#yep {
    font-size: 20px;
}


.bannerstuff {
    background-color: blue;
}

.bannerstuff h1 {
    color: lightgray;
    display: flex;
    justify-content: left;
    align-items: center;
}

.bannerstuff ul li a:hover {
    background-color: teal;
    box-shadow: 5px 5px 5px 5px black;
    border: solid 5px darkgray;
    color: black;
    cursor: grab;
}

.bigger {
    font-weight: bolder;
    font-size: 40px;
}

.navbar {
    display: flex;
    justify-content: right;
    background-color: blue;
    align-items: center;
    list-style-type: none;
}

#subheading {
    font-size: 30px;
    color: lightgray;
    font-style: italic;

}