* {
    font-size: 18px;
    font-family: monospace;
    color: black;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
#moveContact {
    padding-left: 10px;
    margin-left: 10px;
}
.card-link h5 {
    display: flex;
    justify-content: left;
    padding-right: 30%;
    padding-left: 0%;
    margin-left: 0%;
    margin-right: 0%
}

.card-subtitle {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (min-width:1080px) {
    img {
        max-width: 400px;
        max-height: 400px;
        min-width: 400px;
        min-height: 400px;
    }

    .images h3 {
        font-size: 40px;
    }

    .images p {
        font-size: 30px;
    }
}

@media screen and (min-width:720px) {
    img {
        max-width: 250px;
        max-height: 250px;
        min-width: 250px;
        min-height: 250px;
    }

    .images h3 {
        font-size: 20px;
    }

    .images p {
        font-size: 15px;
    }

}

@media screen and (max-width: 720px) {
    img {
        max-width: 125px;
        max-height: 125px;
        min-width: 125px;
        min-height: 125px;
    }

    .images h3 {
        font-size: 10px;
    }

    .images p {
        font-size: 8px;
    }

}